-var title = 'Bla bla bla';
section.about-us.section-main
    div.section-wrapper
        header.section-header
            include ../components/header-awesome
        div.about-us-section-content.section-content
            ul.points-list.tabs
                li.points-list__item.points-list__item__acitve
                    a(href='') Welcome
                li.points-list__item
                    a(href='') Vision
                li.points-list__item
                    a(href='') Mission
                li.points-list__item
                    a(href='') Mission
            ul.benefits-list
                li.benefits-list__item.benefits-list__item__money-back
                    div.benefits-item__img.money-back-img
                    div.benefits-item__content
                        h4 100% Money Back
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam quae qui, quibusdam sunt tenetur?
                li.benefits-list__item.benefits-list__item__cross-browser
                    div.benefits-item__img.cross-browser-img
                    div.benefits-item__content
                        h4 100% Money Back
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam quae qui, quibusdam sunt tenetur?

                li.benefits-list__item.benefits-list__item__retina-display
                    div.benefits-item__img.retina-display-img
                    div.benefits-item__content
                        h4 100% Money Back
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam quae qui, quibusdam sunt tenetur?
                li.benefits-list__item.benefits-list__item__bootstrap
                    div.benefits-item__img.bootstrap-img
                    div.benefits-item__content
                        h4 100% Money Back
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam quae qui, quibusdam sunt tenetur?

