-var title = 'Bla bla bla';
section.about-us.section-main
    header.section-header
        include ../components/header-awesome
    div.section-content
        ul.about-us-points-list
            li.points-list-__tem.acitve
                a(href='') Welcome
            li.points-list__item
                a(href='')
            li.points-list__item
                a(href='')
            li.points-list__item
                a(href='')
        ul.about-us-benefits
            li.benefits-list__item.money-back
                div.benefits-item__img.money-back-img
                div.benefits-item__content
                    h4 100% Money Back
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam quae qui, quibusdam sunt tenetur?
            li.benefits-list__item.cross-browser
                div.benefits-item__img.cross-browser-img
                div.benefits-item__content
                    h4 100% Money Back
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam quae qui, quibusdam sunt tenetur?

            li.benefits-list__item.retina-display
                div.benefits-item__img.retina-display-img
                div.benefits-item__content
                    h4 100% Money Back
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam quae qui, quibusdam sunt tenetur?
            li.benefits-list__item.bootstrap
                div.benefits-item__img.bootstrap-img
                div.benefits-item__content
                    h4 100% Money Back
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nam quae qui, quibusdam sunt tenetur?

