section.getting-ready
    div.header
        h1.logo
            a(href='') Fe
                img(src='')
        nav.page-navigation
            ul.navigation-list
                li.navigation-list__item
                    a(href='') Home
                li.navigation-list__item
                    a(href='') About Us
                li.navigation-list__item
                    a(href='') Products
                li.navigation-list__item
                    a(href='') Testimonials
                li.navigation-list__item
                    a(href='') Contact
    div.content
        h2 Get Ready
        img(src='')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iure laboriosam laudantium nisi officiis sapiente sint velit! Fugit non odit officia perferendis, similique vel voluptatum.
        img(src='')