section.getting-ready
    div.section-wrapper.getting-ready-wrapper
        include ../components/page-header.jade
        div.getting-ready-content
            h2.getting-ready-content-title Get Ready
            img.getting-ready-content-logo(src='img/logo-big.png' alt="Fe")
            p.getting-ready-content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iure laboriosam laudantium nisi officiis sapiente sint velit! Fugit non odit officia perferendis, similique vel voluptatum.
            img.getting-ready-content-mouse(src='img/logo-big.png' width="70" height="70" alt="Fe")
    include ../components/skew-bg-lines.jade