section.getting-ready
    div.section-wrapper
        include ../components/page-header.jade
        div.getting-ready-content
            h2 Get Ready
            img(src='')
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iure laboriosam laudantium nisi officiis sapiente sint velit! Fugit non odit officia perferendis, similique vel voluptatum.
            img(src='')