section.our-skills.section-secondary
    h3.secndary-section__header Our Skills
    p.our-skills__ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi corporis delectus doloribus esse fugiat provident repellendus saepe tempore tenetur velit?
    ul.our-skills-list
        li.skills-list__item.skills-list__item__wordpress
            div.skills__item-stats.skills-list__item__wordpress
            h4.skills-list__item__title Wotdpress
            p.skills-list__item__descrip Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et provident quasi recusandae sit!
        li.skills-list__item.skills-list__item__html
            div.skills__item-stats.skills-list__item__html
            h4.skills-list__item__title HTML5
            p.skills-list__item__descrip Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et provident quasi recusandae sit!
        li.skills-list__item.skills-list__item__css
            div.skills__item-stats.skills-list__item__css
            h4.skills-list__item__title CSS3
            p.skills-list__item__descrip Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et provident quasi recusandae sit!
        li.skills-list__item.skills-list__item__photoshop
            div.skills__item-stats.skills-list__item__photoshop
            h4.skills-list__item__title PHOTOSHOP
            p.skills-list__item__descrip Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et provident quasi recusandae sit!

