.page-header {
    padding-top:2rem;
    line-height:6.4rem;
    float:left;
    &-logo {
        text-indent:-99999rem;
    }
    &-navigation {

        .navigation-list {

            margin:0 auto;
            list-style-type:none;

            &-item {
                display:inline-block;
            }
        }

    }

}