div.section-header
    h3.main-section__header #{title}
    i What We Do With Love
div.preview-text
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad, aut ea harum id illum ipsum labore maiores placeat possimus quod reiciendis rem sint voluptas.