div.page-header.clearfix
    h1.page-header-logo
        a(href='').page-header-logo__reference
            img(src='img/logo.png' alt="Fe").page-header-logo__img
    nav.page-header-navigation
        ul.navigation-list
            li.navigation-list__item
                a(href='').navigation-list__item__reference Home
            li.navigation-list__item
                a(href='').navigation-list__item__reference About Us
            li.navigation-list__item
                a(href='').navigation-list__item__reference Products
            li.navigation-list__item
                a(href='').navigation-list__item__reference Testimonials
            li.navigation-list__item
                a(href='').navigation-list__item__reference Contact