doctype html
html
    head
        <!-- inject:css -->
        <!-- endinject -->
    body

        div.page-wrapper
            include sections/getting-ready
            include sections/about
            include sections/skills
            include sections/services
            include sections/team
            include sections/facts
            include sections/work
            include sections/recent-work
            include sections/follow
            include sections/testimonial
            include sections/pricing
            include sections/quote
            include sections/get-in-touch
            include sections/footer


