doctype html
html
    head
        <!-- inject:css -->
        <!-- endinject -->
    body
        div.page-wrapper
            include layout/header.jade
            include sections/section1.jade
            include layout/footer.jade
